/* ==========================================================================
Buttons
========================================================================== */

.wp-core-ui {

	.button, .button-primary, .button-secondary, .acf-button {
		box-shadow: none !important;
		text-shadow: none !important;

		&:focus {
			box-shadow: none;
			transform: none;
		}
	}

	.button {
		border: 1px solid #ccc;

		&:hover {
			border-color: #bdbdbd;
		}
	}

	.button-primary, .button-secondary {
		border: none;
	}

	button {

		&:focus {

			.toggle-indicator:before {
				box-shadow: none !important;
			}
		}
	}
}