/* ==========================================================================
Common styles
========================================================================== */

@media only screen and (min-width: 600px) {

	#wpwrap {
		padding-top: 18px;
		box-sizing: border-box;
	}
}


// Footer thank you
#footer-thankyou {
	font-style: normal;

	a {
		color: $highlight-color;
	}
}

.footer-blue {
	background-color: $highlight-color !important;		
}


// Dotted line
.metabox-holder .postbox-container .empty-container, 
.media-frame.mode-grid .uploader-inline,
.theme-browser .theme.add-new-theme a:after {
	border-width: 1px;
}

// Code
code, kbd {
	background: rgba(0, 0, 0, 0.025);
}


/**
 * Post Edit Screen
 */
.wp-list-table {
	margin-top: 20px;
}

#sample-permalink a {
	color: $highlight-color;
}